<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	You can contact me through the following ways 
</p>
<p>
	email : <a href="mailto:brucezhang9020@gmail.com">涛</a>
</p>
<p>
	weibo: <a href="http://weibo.com/9020taobeier">涛_fighting</a>
</p>